*
{
  box-sizing: border-box;
}

body {
  padding: 10px;
  font-family: sans-serif;
  background-color: rgb(27, 27, 27);
  color: white;
}

#content
{
  display: block;
  width: 100%;
  padding: 20px;
  margin: auto;
}

table
{
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  font-size: 30px;
}

table td
{
  padding: 15px 0;
}

tr:nth-child(1)
{
  font-weight: bold;
}

h1
{
  text-align: center;
}

img.avatar
{
  height: 40px;
  vertical-align: middle;
}

table td *
{
  vertical-align: middle;
}